version: '3.9'

services:
  whoami-rp:
    image: oidfed/whoami-rp
    volumes:
      - ./config.yaml:/config.yaml
      - ./keys:/keys
    networks:
      - default
      - traefik
    labels:
        - traefik.enable=true
        - traefik.docker.network=traefik
        - traefik.http.routers.gorp-http.rule=Host("whoami.fedservice.lh")
        - traefik.http.routers.gorp-http.entrypoints=http
        - traefik.http.routers.gorp-http.middlewares=https-redirect
        - traefik.http.routers.gorp-https.rule=Host("whoami.fedservice.lh")
        - traefik.http.routers.gorp-https.entrypoints=https
        - traefik.http.routers.gorp-https.tls=true
        - traefik.http.middlewares.https-redirect.redirectscheme.scheme=https
        - traefik.http.middlewares.https-redirect.redirectscheme.permanent=true
        - traefik.http.services.gorp.loadbalancer.server.port=3333
    ports:
      - 3333:3333

networks:
  default:
  traefik:
    external: true